body {
    background: #f2f2f2;
    font-family: Arial;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    background: white;
    padding: 20px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
}

.input-row {
    display: flex;
    gap: 10px;
}

#taskInput {
    flex: 1;
    padding: 10px;
}

#addBtn {
    padding: 10px 15px;
    background: rgb(99, 38, 241);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

ul {
    margin-top: 20px;
    padding: 0;
}

li {
    list-style: none;
    background: #eee;
    padding: 10px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}
